
.filter-container {
  width: 100%;
  margin: 20px auto;
}

.filter-container {
  display: flex;
  gap: 10px; /* Adds space between items */
  margin-bottom: 20px;
  align-items: center; /* Ensures vertical alignment of items */
}

.filter-container input[type="date"],
.filter-container select,
.filter-container button {
  padding: 10px; /* Ensures consistent padding */
  font-size: 16px;
  height: 40px; /* Ensures consistent height */
  width: 180px; /* Sets a consistent width for date inputs and select */
}

 button:hover {
  width: auto; /* Allows buttons to adjust based on their content */
  color: #fff;
  border: none;
  cursor: pointer;
}

.button-1:hover{
  background-color: #00ff11;
}
.button-2:hover{
  background-color: #f01919;
}
.buttons {
 border-radius: 3px;
 border: 0px;
}



.profile-icon-container {
  margin-left: auto; /* Pushes the profile icon to the far right */
}

.date-input{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 15px;
  color: white;
  font-weight: bold;
  text-align: center;
}