<app-navbar></app-navbar>
<div class="container">
  <mat-spinner *ngIf="loading" class="loading-spinner custom-spinner"></mat-spinner>
  <table *ngIf="!loading" class="bg-container">
    <thead>
      <tr>
        <th>User Id</th>
        <th>User Name</th>
        <th>User Role</th>
        <th>Activity Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of userList">
        <td>{{ user.userid }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.userRole }}</td>
        <td>
          <select class="form-select w-75" [value]="user.activeStatus" (change)="onActiveStatusChange(user.userid, $event)">
            <option value="Active">Active</option>
            <option value="In Active">In Active</option>
          </select>
        </td>
      </tr>
    </tbody>
  </table>
</div>
