<table>
  <tr class="container">
  <th>User Id</th>
  <th>User Name</th>
  <th>User Role</th>
  <th>Action</th>
  </tr>
  <tr class="container">
    <td>1</td>
    <td>Pavan</td>
    <td>Project Manager</td>
    <td>
      <div>
        <button>View</button>
        <button>Edit</button>
        <button>Delete</button>
      </div>
    </td>
  </tr>
  <tr class="container">
    <td>1</td>
    <td>Pavan</td>
    <td>Project Manager</td>
    <td>
      <div>
        <button>View</button>
        <button>Edit</button>
        <button>Delete</button>
      </div>
    </td>
  </tr>
  <tr class="container">
    <td>1</td>
    <td>Pavan</td>
    <td>Project Manager</td>
    <td>
      <div>
        <button>View</button>
        <button>Edit</button>
        <button>Delete</button>
      </div>
    </td>
  </tr>
  <tr class="container">
    <td>1</td>
    <td>Pavan</td>
    <td>Project Manager</td>
    <td>
      <div>
        <button>View</button>
        <button>Edit</button>
        <button>Delete</button>
      </div>
    </td>
  </tr>
  <tr class="container">
    <td>1</td>
    <td>Pavan</td>
    <td>Project Manager</td>
    <td>
      <div>
        <button>View</button>
        <button>Edit</button>
        <button>Delete</button>
      </div>
    </td>
  </tr>
  <tr class="container">
    <td>1</td>
    <td>Pavan</td>
    <td>Project Manager</td>
    <td>
      <div>
        <button>View</button>
        <button>Edit</button>
        <button>Delete</button>
      </div>
    </td>
  </tr>
</table>