.container{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   margin-top: 5px;
   align-items: center;
}
td{
    margin-left: 60px;
}
button{
    margin-left: 5px;
}

.adjust-position{
    margin-right: 50px;
}