.container{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   margin-top: 5px;
   align-items: center;
}
td{
    margin-left: 60px;
}
button{
    margin-left: 5px;
}
.bg-container{
    background-color:aqua;
    color: brown;
    width: 100%;
    height: 100vh;
}
.adjust-position{
    margin-right: 50px;
}