<table class="bg-container">
  <tr class="container">
  <th>User Id</th>
  <th class="adjust-position">User Name</th>
  <th class="adjust-position role">User Role</th>
  <th>Action</th>
  </tr>
  <tr class="container">
    <td>1</td>
    <td>Pavan</td>
    <td>Project Manager</td>
    <td>
      <div>
        <button><i class="fa-regular fa-eye"></i></button>
        <button><i class="fa-solid fa-pen-to-square"></i></button>
        <button><i class="fa-solid fa-trash"></i></button>
      </div>
    </td>
  </tr>
  <tr class="container">
    <td>1</td>
    <td>Pavan</td>
    <td>Project Manager</td>
    <td>
      <div>
        <button><i class="fa-regular fa-eye"></i></button>
        <button><i class="fa-solid fa-pen-to-square"></i></button>
        <button><i class="fa-solid fa-trash"></i></button>
      </div>
    </td>
  </tr>
  <tr class="container">
    <td>1</td>
    <td>Pavan</td>
    <td>Project Manager</td>
    <td>
      <div>
        <button><i class="fa-regular fa-eye"></i></button>
        <button><i class="fa-solid fa-pen-to-square"></i></button>
        <button><i class="fa-solid fa-trash"></i></button>
      </div>
    </td>
  </tr>
  <tr class="container">
    <td>1</td>
    <td>Pavan</td>
    <td>Project Manager</td>
    <td>
      <div>
        <button><i class="fa-regular fa-eye"></i></button>
        <button><i class="fa-solid fa-pen-to-square"></i></button>
        <button><i class="fa-solid fa-trash"></i></button>
      </div>
    </td>
  </tr>
  <tr class="container">
    <td>1</td>
    <td>Pavan</td>
    <td>Project Manager</td>
    <td>
      <div>
        <button><i class="fa-regular fa-eye"></i></button>
        <button><i class="fa-solid fa-pen-to-square"></i></button>
        <button><i class="fa-solid fa-trash"></i></button>
      </div>
    </td>
  </tr>
  <tr class="container">
    <td>1</td>
    <td>Pavan</td>
    <td>Project Manager</td>
    <td>
      <div>
        <button><i class="fa-regular fa-eye"></i></button>
        <button><i class="fa-solid fa-pen-to-square"></i></button>
        <button><i class="fa-solid fa-trash"></i></button>
      </div>
    </td>
  </tr>
</table>