<div class="filter-container">
  <input type="date" [(ngModel)]="filterParams.fromDate" placeholder="From Date" />
  <input type="date" [(ngModel)]="filterParams.toDate" placeholder="To Date" />
  <div>
    <select [(ngModel)]="filterParams.status" name="status">
      <option selected value="All">All</option>
      <option value="Pending">Pending</option>
      <option value="In Progress">In Progress</option>
      <option value="Completed">Completed</option>
    </select>
  </div>
  <button (click)="applyFilter()">Apply Filter</button>
  <button routerLink="/logout">Logout</button>
  <div class="profile-icon-container">
    <app-profile-icon></app-profile-icon>
  </div>
</div>
