 <div class="filter-container"> 
  <div class="select-input mt-3">
    <select [(ngModel)]="filterParams.status" id="status" name="status">
      <option value="" disabled selected>Select Status</option>
      <option value="">All</option>
      <option value="Pending">Pending</option>
      <option value="In Progress">In Progress</option>
      <option value="Completed">Completed</option>
    </select>
  </div>
  <button class="mt-3" (click)="applyFilter()">Apply Filter</button>
  <button class="mt-3" routerLink="/logout">Logout</button>

  <div class="profile-icon-container">
    <app-profile-icon></app-profile-icon>
  </div>
</div>