
.navbar-collapse,.navbar-brand,.navbar-expand-lg{
    height: 179px;
    background-color: rgb(60, 52, 78); 
   
}

#navbarSupportedContent a{
    color: aliceblue;
    padding: 10px;
    margin-top: 100px;
   margin-left: 20px;
 
}
#mg{
  color: rgb(235, 229, 229);
  height: 40px;
  width: 40px;
  border: 2px solid rgb(22, 1, 1);
  border-radius: 60%;
  padding: 7px;
}
#pm{
    color: aliceblue;
    padding-top: 11px;
}

#login-btn{

    margin-right: 0px;
    height: 40px;
    width: 80px;
    border: 2px solid rgb(245, 244, 244);
    border-radius: 6px;
    color: rgb(232, 220, 220);
    background-color: rgb(34, 34, 34);
    font-size: 16px;
    margin-top: 10px;
}

#login-btn:hover{
    background-color: white;
    color: black;
    border:2px solid black ;
    transition: .6s;

}

#contact-sales{
    color: white;
    font-size: 20px;
   
}

#contact span{
    font-size: 30px;
   margin: 200px;
}

#info p{

    margin-left: 160px;
}


.content-box-model{
    width: 200px;
    height: auto;
    border: 2px solid rgb(183, 179, 179);
    margin: 30px;
    padding: 20px;
    text-align: center;
    display: inline;
    border-radius: 5%;
    box-shadow: 7px 6px 6px rgb(38, 38, 39); 
}


.box-model{
    display: flex;
    justify-content: center;
}

#circle-content{
    height: 100px;
    width: 100px;
    /* border: 4px solid rgb(216, 212, 212); */
    border-radius: 50%;
    margin-left:30px ;
    /* margin-bottom: 400px; */
    box-shadow: 7px 6px 6px rgb(38, 38, 39); 
    position: relative;
    /* top: 7px; */
}

#circle-content img{
    height: 100px;
    width: 100px;

    border-radius: 60%;
   
}

.msg     img{
    align-items: flex-end;
    height: 300px;
    margin-left:650px;
    margin-top: 100px;
}
#task h2{
    margin-left: 350px;
    font-family:cursive ;
}

#task h3{
    margin-left: 350px;
}

#task p{
    margin-left: 400px;
    font-size: 16px;
}

footer{
    height: 290px;
    width: auto;
    background-color: rgb(60, 52, 78);  
    color: white;



}

.foot span{

    margin: 20px;
    font-size: medium;
}

#profile-1 {
    height: 30px;
    /* width: 30px; */
    border: 1.5px solid rgb(16, 14, 14);
    border-radius: 70%; 
    margin-right: 20px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 30px;
    
}


.foot{
    margin: 20px ;
    padding: 60px;
}

.icons-foot{
    height: 30PX;
    width: 30px;
 margin: 10px;
 
}


.logo{
    width: 120px;
}
.user-pic{
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 30px;
}
 
.sub-menu-wrap{
    position: absolute;
    top:100%;
    right: 0%;
    width: 220px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}

.sub-menu-wrap.open-menu{
    max-height: 400px;
}
.sub-menu{
    background: #121111;
    padding: 0px;
    margin: 10px;
    color: white;
}
.user-info{
    display: flex;
    align-items: center;
}

.user-info h3{
    font-weight: 500;
}
 
.user-info img{
    width: 60px;
    border-radius:50% ;
    margin-right: 15px;
}

.sub-menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;

}

.sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
}
.sub-menu-link p{
    width: 100%;
    margin-right: 100px;
}

.sub-menu-link img{
    width: 40px;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
    margin-right:15px;
}

.sub-menu-link span{
    font-size: 22px;
    transition: transform 0.5s;
}
.sub-menu-link:hover span{
    transform: translateX(5px);
}

.sub-menu-link:hover p{
    font-weight: 600;
}

