<div>
  <nav class="navbar navbar-expand-lg">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/client-information">Projects and Client-Information</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/logout">Logout</a>
        </li>
      </ul>
        <a class="nav-link" routerLink="/editprofile">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQA8cTn1-RRcQ_T4-cf40vYi4sjFEADIdog1TqwvXO3kw&s" class="user-pic" (click)="toggleMenu()">
      </a>
    </div>
  </nav>
</div>

<div class="container">
  <!-- Your content here -->
  <div class="box-model">
    <div class="content-box-model">
      <nav id="circle-content">
        <img src="https://img.freepik.com/free-vector/bird-colorful-logo-gradient-vector_343694-1365.jpg?size=338&ext=jpg&ga=GA1.1.2082370165.1715990400&semt=sph" alt="">
      </nav>
      <p>"Experience improved project efficiency, streamlined communication, and enhanced team collaboration. With our intuitive interface and robust tools, you'll be able to manage projects of any size with confidence, driving greater productivity and achieving better results."</p>
    </div>
    <div class="content-box-model">
      <nav id="circle-content">
        <img src="https://www.randstad.in/themes/custom/bluex/src/assets/img/logo-bluex.png" alt="img">
      </nav>
      <p>"They have led diverse project teams in various industries, overseeing projects ranging from small-scale initiatives to large-scale enterprise implementations. They have a proven ability to navigate complex challenges, adapt to changing priorities, and drive projects to successful completion."</p>
    </div>
    <div class="content-box-model">
      <nav id="circle-content">
        <img src="https://fiverr-res.cloudinary.com/images/q_auto,f_auto/gigs/178077014/original/f909e22235c6e502c39a9d3fae0f4f4174836b0b/create-a-minimalist-logo-for-you.png" alt="img">
      </nav>
      <p>"With diverse backgrounds and industry experience, our team members have a proven track record of excellence. They are passionate about their work and committed to exceeding expectations in every project they undertake."</p>
    </div>
  </div>
</div>
<p class="foot">
  Randstad Solutions Limited, is a limited company registered in England and Wales with registered number 02389033. Our registered office is at 450 Capability Green. Luton, Bedfordshire, LU1 3LU. RANDSTAD, home HUMAN FORWARD and SHAPING THE WORLD OF WORK are registered trademarks of Randstad N.V. © Randstad N.V. 2021
  <br>
  <img src="https://cdn.icon-icons.com/icons2/4029/PNG/512/twitter_x_new_logo_square_x_icon_256075.png" alt="" class="icons-foot">
  <img src="https://cdn-icons-png.flaticon.com/512/1384/1384031.png" alt="" class="icons-foot">
  <img src="https://cdn-icons-png.flaticon.com/256/20/20673.png" alt="" class="icons-foot">
  <img src="https://cdn3.iconfinder.com/data/icons/2018-social-media-black-and-white-logos/1000/2018_social_media_popular_app_logo_linkedin-512.png" alt="" class="icons-foot">
  <img src="https://cdn-icons-png.flaticon.com/512/152/152810.png" alt="" class="icons-foot">
  <br>
  <span>Terms & Conditions</span><br>
  <span>Contact Us</span><br>
  <span>All Rights Reserved</span><br>
</p>