.Edite{
    margin: 20px;
    margin-left: 100px;

}

.second-in{
    margin: 20px;
    margin-left: 100px;
}

.Hii{
height: 200px;
width: 400px;
/* border: 1px solid black; */
margin-left: 400px;
}

#edite{

    height: 50px;
    width: 100px;
    border-radius: 6px;
    background-color: rgb(4, 4, 14);
    color: white;
}

.Hii button{
 height: 30px;
 width: 190px;
 border-radius: 6px;
 background-color: blue;
 color: white;
}